[tools]
node = "{{ .versions.node }}"
go = "{{ .versions.go }}"
java = "{{ .versions.java }}"
"npm:pnpm" = "{{ .versions.pnpm }}"

[settings]
idiomatic_version_file_enable_tools = ["node", "python", "ruby"]
